*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  position: relative;
  height: 100vh;
}
html::after {
  content: "";
  background: url("https://thinkful-ei-firefly.github.io/QuizAppMatt_Hector/img/beatles-background-2.jpg")
    no-repeat center center fixed;
  opacity: 0.9;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  top: 2rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background: black;
  color: white;
}

header .quiz-stats {
  display: flex;
  justify-content: space-between;
}

.score,
.question-num {
  margin-right: 2rem;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form,
.feedback {
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
  box-shadow: 3px 3px 5px 6px #777;
  border-radius: 50px;
  margin-top: 60px;
  width: 65vw;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.feedback-text {
  text-align: center;
  border-radius: 20px;
  padding: 2rem;
  text-transform: capitalize;
}
.feedback-button {
  margin-top: 3rem;
}

.reset-button {
  display: none;
  animation: pulse 2s infinite;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 2px #777;
  padding: 0.5rem;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  cursor: pointer;
}

.input-group {
  padding: 20px;
  margin-bottom: 10px;
  width: 60vw;
  display: flex;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-out;
  line-height: 22px;
  border: 1px black solid;
  justify-content: center;
  position: relative;
}
.answerOption {
  margin-left: 2.5rem;
  height: 100%;
  width: 50vw;
  text-align: center;
}
.input-group:hover,
.input-group:focus {
  background-color: #777;
  color: white;
}
fieldset {
  border: none;
}

input[type="radio"] {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  z-index: 3;
}

.question {
  margin-bottom: 2 rem;
  text-transform: capitalize;
}
.question:hover {
  transform: skewY(2deg) skewX(3deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem #777;
}

.score,
.question-num {
  transition: all 0.3s;
}

.score:hover,
.question-num:hover {
  margin-left: 1rem;
  transform: translateX(-1rem) skewY(2deg) skewX(3deg) scale(1.5);
  text-shadow: 0.5rem 1rem 2rem #fff;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
}
.logo:hover {
  transform: translateX(4rem) skewY(2deg) skewX(3deg) scale(1.5);
  text-shadow: 1rem 2rem 3rem #fff;
}

#submit-button,
.feedback-button {
  padding: 2rem;
  width: 60vw;
  display: inline-block;
  border-radius: 2rem;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  color: #fff;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

#submit-button:hover,
.feedback-button:hover {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  transform: translateY(-5px);
  box-shadow: 3px 3px 5px 6px #777;
}
#submit-button:active,
.feedback-button:active {
  transform: translateY(1px);
  box-shadow: 1px 2px 2px 2px #777;
}

.icon {
  font-size: 6rem;
}

/* animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* media queries */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .form,
  .feedback {
    width: 100vw;
    border-radius: 10px;
    height: 90vh;
    text-align: center;
  }
  .logo {
    font-size: 1.5rem;
  }
}
